/* FOR PAGE LOGIN */
.body-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-welcomeback {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 20px;
  
}
.about-login {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 14px;
}
.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-input .input-login{
  align-items: center;
  border: none;
  border-radius: 12px;
  padding: 0 0 0 40px;
  margin-top: 25px;
  width: 280px;
  height: 40px;
}
.container .forgot a {
  text-decoration: none;
  color: #cf7751;
  font-weight:500;
  width: 310px;
}
.container .sign-up{
  display: flex;
}
.container .sign-up {
  padding: 12px;
}
.container .sign-up a{
  padding: 4px;
  text-decoration: none;
  font-weight: 700;
  color: #cf7751;
}

body {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  flex-direction: column;
  word-break: break-all;
  scroll-behavior: smooth;
}


.container {
  max-width: 360px;
  height: 100vh;
  width: 100vw;
  margin-bottom: 100px;
}

.bg {
  background-color: #cf7751;
  height: 229px;
  display: flex;
  width: 100vw;
}

.shape {
  position: absolute;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full {
  width: 100%;
}

.col {
  flex-direction: column;
  display: flex;
  
}

.gap-10 {
  gap: 10px;
}

.semibold {
  font-weight: 600;
}
.white {
  color: white;
}

.container2 {
  padding: 10px 20px;
  /* width: 100%; */
}

.task-list {
  max-width: 287px;
  width: 100%;
  border-radius: 15px;
  min-height: 169px;
  background-color: white;
  padding: 12px;
  box-shadow: 2px 4px 4px 2px #e1e1e1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.point {
  width: 7px;
  height: 7px;
  border: 1.5px solid black;
  background-color: #faa885;
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
.list {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #6e6e6e;
}

.container3 {
}

.input {
  max-width: 280px;
  font-size: 16px;
  padding: 10px 17px;
  width: 100%;
  border-radius: 100px;
  border: 0px;
  color: #6e6e6e;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.gap-15 {
  gap: 15px;
}

button {
  height: 60px;
  max-width: 310px;
  width: 100%;
  color: white;
  background-color: #faa885;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  height: 60px;
  max-width: 310px;
  width: 100%;
  color: white;
  background-color: #cf7751;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
